.sectionsPreview {
  background-color: var(--dark-bg); 
  padding: 20px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .sectionsPreview {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .sectionsPreview {
    width: 80%;
  }
}

@media screen and (min-width: 1250px) {
  .sectionsPreview {
    width: 85%;
  }
}