.collection-preview{
  padding: 50px 0 0;
}

.category-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  display: inline-block;
}

.category-name a {
  color: #ffffff;
  text-decoration: none;
}

.products-list {
  display: grid;
  grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  gap: 30px 15px;
  width: 100%;
}


@media screen and (min-width: 600px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1250px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
