.wishList {
  height: 40%;
}

.wishListItems-container {
  overflow-y: scroll;
  height: 100%;
}

.wishList-title {
  color: #fff;
  margin-bottom: 1.875rem;
  font-size: 18px;
}

.wishListItems-container::-webkit-scrollbar {
  width: 12px;  /* width of the entire scrollbar */
}

.wishListItems-container::-webkit-scrollbar-track {
  background: #fff;  /* color of the tracking area */
}

.wishListItems-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #fff;  /* creates padding around scroll thumb */
}