.item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 10px;
  overflow: hidden;
}


.wishlist-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    transform: translateX(200px);
}

.item-container:hover .wishlist-icons {
  transform: translateY(0);
}

.wishlist-icons .icon-container {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.img-container {
  width: 30%;
  margin-right: 25px;
}

.img-container img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.item-info {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.item-price {
  font-size: 14px;
  color: #b7a3da;
}
