.checkout {
  width: 1000px;
  padding-top: 50px;
  margin: 0 auto;
}

.checkout-header {
  color: #fff;
  background-color: #582DD3;
  border-radius: 20px 20px 0 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #2b2040;
}

.checkout-body {
  border-radius: 0 0 5px 5px;
  padding: 40px;
  background-color: #fff;
}

.checkout-icon {
  cursor: pointer;
}

.subtotal {
  text-align: right;
  margin-top: 3.125rem;
}

.producti {
  width: 30%;
  display: flex;
  align-items: center;
}

.producti img {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  margin-right: 10px;
}

.productName {
  width: 200px;
}

.productQuantity {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.productPrice {
  width: 20%;
}

.product-remove {
  width: 70px;
}

.product-img--container img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.carti {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

