.cartDropdown {
  background-color: #6541a5;
  width: 200px;
  height: 320px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 2;
  border-radius: 5px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  border: solid 1px #fff;
}

.cartItems-container {
  overflow-y: scroll;
  height: 85%;
  margin-bottom: 25px;
}

.checkoutBtn {
  width: 80%;
}