.cartDropdown {
  background-color: #f7f7f7;
  width: 180px;
  height: 300px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 2;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 15px;
}