
.product-item {
  background-color: var(--main-color);
  border-radius: 10px;
  height: 17.75rem;
  overflow: hidden;
  position: relative;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  position: relative;
  height: 50%;
}

.product-image {
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 1;
}

.product-image:hover{
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-price {
  background-color: #ffffff;
  color: var(--main-color);
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  padding: 3px 10px;
}

.cartToCart-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.icons-container {
  width: 50px;
  height: 95px;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3px;
  transform: translateX(-200px);
  transition: ease-in-out .6s;
}

.product-item:hover .icons-container {
  transform: translateX(0);
  transition: ease-in-out .3s; 
}

.tooltip {
  display: none;
}
/*
.tooltip {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 25px;
  left: 45px;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 5px;
  font-weight: bold;

}

*/


/* Resonsiveness with media queries 

@media screen and (min-width: 900px) {
  .sideBar {
    display: block;
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
.sideBar {
    width: 20%;
  }
}

@media screen and (min-width: 1250px) {
  .sideBar {
    width: 15%;
  }
}
*/