.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  max-width: 100%;
}

.rightside-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}