.sideBar {
  width: 20%;
  border-right: 5px solid #2b2040;
  background-color: #6541a5;
  padding: 30px;
  display: font;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}