@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #582dd3;
  --dark-bg: #15141a;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: var(--dark-bg); 
}

body::-webkit-scrollbar {
  width: 12px;  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--main-color);  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--main-color);  /* creates padding around scroll thumb */
}