.customButton {
  background-color: var(--main-color);
  font-family: 'Dosis', sans-serif;
  color: var(--main-color);
  font-size: 0.9375rem;
  font-weight: bold;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.9375rem;
  border: none;
  cursor: pointer;
  transition: .5s;
}

.productBtn {
  background-color: #ffffff;
  color: var(--main-color);
  width: 100%;

}

.productBtn:hover {
  transform: translateY(3px);
  transition: .3s;
}
