.customButton {
  background-color: var(--main-color);
  color: #6541A5;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  transition: .5s;
}

.productBtn {
  background-color: #ffffff;
  color: #6541A5;
}

.productBtnn:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: .5s;
}
